{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'></link>
<div class="row">
    <div class="col-sm-12">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data" class="card-body text-center">
                    <div class="row">
                        <div class="col-md-12">
                    <div class="form-group">
                    {% csrf_token %}
                    <div class="mb-12">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-12">新增照護長者</h3>
                    {% for field in form %}
                        {% if field.name != 'related_users' and field.name != 'upload_profile' %}
                        <div class="form-group">
                                        {{ field }}
                                        <span class="text-danger d-block text-left">{{ field.errors }}</span>
                                    </div>
                        {% endif %}

                        <span class="text-danger d-block text-left">{{ field.errors }}</span>
                    {% endfor %}
                    <div class="form-group text-left">使用者照片：
                        <label class="btn btn-primary ">
                            <input id="upload_profile" style="display:none;" type="file" name="upload_profile">
                            <i class="fa fa-photo"></i>選擇照片
                        </label>
                        <span class="text-danger d-block text-left">{{ form.upload_profile.errors }}</span>
                    </div>
                    
                    <div class="form-group text-left">
                        <div class="nav-item dropdown">
                          <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown" id="relatedUsersDropdown">選擇關聯使用者</a>
                          <ul class="dropdown-menu" aria-labelledby="relatedUsersDropdown">
                            {% for field in form.related_users %}
                              <li><a class="dropdown-item" href="javascript:">{{field}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>                    
                    <button type="submit" class="btn btn-primary shadow-2 mb-4">註冊</button>
                </form>
            </div>
        </div>
    </div>
   
{% endblock content %}