{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <!-- <div class="card-header">
                <h5>新增長者</h5>
            </div>> -->
        </div>
            <div class="col-md-12">
                <form method="post" class="card-body text-center">
                    <div class="row">
                        <div class="col-md-12">
                    <div class="form-group">
                    {% csrf_token %}
                    <div class="mb-12">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-12">新增照護長者</h3>
                    {% for field in form %}
                        <div class="form-group">
                            {% if field.name == 'sex' %}
                                
                                {{ field }}
                            {% else %}
                                
                                {{ field }}
                            {% endif %}
                        </div>
                        <span class="text-danger d-block text-left">{{ field.errors }}</span>
                    {% endfor %}
                    <div class="form-group text-left mt-4">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-1" checked="">
                            <label for="checkbox-fill-1" class="cr"> Save Details</label>
                        </div>
                    </div>
                    <!-- <div class="form-group text-left">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
                            <label for="checkbox-fill-2" class="cr">Send me the <a href="#!"> Newsletter</a> weekly.</label>
                        </div>
                    </div> -->
                    <button type="submit" class="btn btn-primary shadow-2 mb-4">註冊</button>
                </form>
            </div>
        </div>
    </div>


    <label class="d-none">
        <i class="icon feather icon-sun" id="theme-indicator"></i>
        <input type="checkbox" id="theme-switch" class="d-none">
    </label>

{% endblock content %}