{% extends 'layouts/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="col-md-12">
          <h3 class="mb-12">Add Questionnaire</h3>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="questions-container">
              <!-- Container to hold dynamically added questions -->
            </div>
            <button type="button" class="add-question-btn" data-type="text">Add Text Question</button>
            <button type="button" class="add-question-btn" data-type="multimedia">Add Multimedia Question</button>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function () {
      let questionCount = 0;

      $(".add-question-btn").click(function () {
        questionCount++;

        let questionType = $(this).data("type");
        let questionHtml = '';

        if (questionType === 'text') {
          questionHtml = `
            <div class="question-container">
              <label for="id_questions-${questionCount}-text">Text Question ${questionCount}:</label>
              <input type="text" name="questions-${questionCount}-text" required>
            </div>
          `;
        } else if (questionType === 'multimedia') {
          questionHtml = `
            <div class="question-container">
              <label for="id_questions-${questionCount}-text">Multimedia Question ${questionCount}:</label>
              <input type="text" name="questions-${questionCount}-youtube-url" placeholder="Enter YouTube URL" required>
              <!-- You can add more fields or customize as needed -->
              <input type="text" name="questions-${questionCount}-text" required>
            </div>
          `;
        }

        $("#questions-container").append(questionHtml);
      });
    });
  </script>
{% endblock content %}
