{% extends 'layouts/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="col-md-12">
          <h3 class="mb-12">新增問卷</h3>
          <form method="post" enctype="multipart/form-data" id="questionnaireForm">
            {% csrf_token %}
            {{questionnaire_form.as_p }}
            <div id="question-container">
              <!-- Reply Button -->
              {% for questionnaire in questionnaires %}
              <a href="{{ questionnaire.reply_url }}?usp=pp_url&entry.325964613={{ user.user_hash }}" class="reply-button">Reply to Questionnaire</a>
              {% endfor %}
            </div>
            <button type="submit" class="label theme-bg text-white f-14">提交</button>
          </form>
          <div id="urlError" style="color: red; display: none;">
            請輸入編輯問卷的網址
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("questionnaireForm").addEventListener("submit", function(event) {
      var editUrlField = document.getElementsByName("edit_url")[0];
      var replyUrlField = document.getElementsByName("reply_url")[0];
      var urlError = document.getElementById("urlError");
      var valid = true;
  
      if (!editUrlField.value.endsWith("edit")) {
        urlError.textContent = '請輸入正確的編輯問卷網址';
        urlError.style.display = 'block';
        valid = false;
      }
  
      if (!replyUrlField.value.includes("usp=pp_url&entry")) {
        urlError.textContent = '請輸入正確的回覆問卷網址';
        urlError.style.display = 'block';
        valid = false;
      }
  
      if (!valid) {
        event.preventDefault();
      } else {
        urlError.style.display = 'none';
      }
    });
  </script>

{% endblock content %}
