{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <h2>{{ questionnaire.title }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Responses</th>
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
            <tr>
                <td>
                    {% for response in answer.response_data %}
                        <div class="response">
                            {% for key, value in response.items %}
                                <strong>{{ key }}:</strong> {{ value }}<br>
                            {% endfor %}
                        </div>
                        {% if not forloop.last %}
                            <hr> <!-- Separator for responses -->
                        {% endif %}
                    {% empty %}
                        <p>No responses found.</p>
                    {% endfor %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No answers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}





