<!-- users/templates/users/profile_page.html -->

{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'></link>
  <!-- [ Main Content ] start -->
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h3>{{ user.name }}的個人資料</h3>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-4 mb-4">
              <!-- Display profile image on the left -->
              <div class="w-50 p-3">
                {% if user.upload_profile %}
                <img src="{{ MEDIA_URL }}Profile/{{ user.username }}/{{ user.username }}.jpg" alt="profile image" class="img-fluid" style="box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);" height="200" width="200">{% else %}
                  <!-- Default profile image or placeholder -->
                  <img src="{% static 'images/default_profile.jpg' %}" alt="default profile image" class="img-fluid" style="box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);" height="200" width="200">
                {% endif %}
                
                <!-- Add a button link to the edit page beneath the profile photo -->
                <a href="{% url 'edit_profile' user.username %}" class="btn btn-primary mt-3">更改資料</a>
              </div>
            </div>
            <div class="col-sm-8 mb-4">
              <!-- Display user information on the right -->
              <p><strong>名字:</strong> {{ user.name }}</p>
              <p><strong>身份:</strong> {{ user.get_type_display }}</p>
              <p><strong>性別:</strong> {{ user.get_sex_display }}</p>
              <p><strong>生日:</strong> {{ user.birthday }}</p>
              <p><strong>Nano Guid:</strong> {{ user.nano_guid }}</p>
              <p><strong>序列號碼:</strong> {{ user.serial_number }}</p>
              <p><strong>聯絡電話:</strong> {{ user.phone_num }}</p>
              <p><strong>住址:</strong> {{ user.address }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card Recent-Users">
    <div class="card-header">
        <h3>{{ user.name }}的作答記錄</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>問卷標題</th>
                    <th>動作</th>
                </tr>
            </thead>
            <tbody>
                {% for answer in answers %}
                <tr>
                    <td>{{ answer.questionnaire.title }}</td>
                    <td>
                      <a href="{% url 'answer_history' pk=answer.questionnaire.pk username=user.username %}"  class="label theme-bg text-white f-14">查看作答內容</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No questionnaires answered yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

  <!-- [ Main Content ] end -->
{% endblock content %}
