<!DOCTYPE html>
<html lang='zh-Hant'>

<head>
  {% include 'includes/head.html' %}
  {% block extrastyle %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  {{ block.super }}
  {% endblock extrastyle %}
</head>
<body>

  {% block pre_loader %}
    {% include 'includes/pre-loader.html' %}
  {% endblock pre_loader %}
  
  {% block sidebar %}
    {% include 'includes/sidebar.html' %}
  {% endblock sidebar %}

  {% block header %}
    {% include 'includes/navigation.html' %}
  {% endblock header %}

  <!-- [ Main Content ] start -->
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="pcoded-inner-content">
          <!-- [ breadcrumb ] start -->
          {% block breadcrumbs %}
            {% include 'includes/breadcrumb.html' %}
          {% endblock breadcrumbs %}
          <!-- [ breadcrumb ] end -->
          <div class="main-body">
            <div class="page-wrapper">
              {% block content %}{% endblock content %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'includes/scripts.html' %}
  {% block extra_js %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.select2').select2();
    });
  </script>
{% endblock extra_js %}

</body>
</html>